.add-qty-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    align-items: center;
    gap: 50px;
}
.add-qty-content .product-input{
    height: 40px;
    border-radius: var(--border-radius-2);
    padding-left: 8px;
    font-size: 15px;
    color: var(--color-primary);
    font-weight: 500;
    min-width: 200px;
    max-width: 400px;
}
.add-qty-content .input-qty{
    max-width: 230px;
 }
 .add-qty-content .input-qty input{
    height: 40px;
    max-width: 100px;
    border-radius: var(--border-radius-2);
    padding-left: 8px;
    font-size: 16px;
    color: var(--color-primary);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.add-qty-content .btn-qty button{
    width: 100px;
    height: 40px;
    border-radius: var(--border-radius-2);
    background: var(--color-primary);
    font-size: 16px;
    color: var(--color-white);
    box-shadow: var(--box-shadow);
}
.add-qty-content .btn-qty button:hover{
    color: var(--color-primary);
    background: var(--color-white);
    border:solid 1px var(--color-primary);
    transition: 0.3s ease-in;
}
.btn-save button{
    width: 150px;
    height: 40px;
    border-radius: var(--border-radius-2);
    background: var(--color-success);
    font-size: 16px;
    color: var(--color-white);
    box-shadow: var(--box-shadow);
}
.btn-save button:hover{
    color: var(--color-success);
    background: var(--color-white);
    border:solid 1px var(--color-success);
    transition: 0.3s ease-in;
}
@media (max-width: 1080px) {
    .add-qty-content{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        justify-items: start;
        align-items: start;

    }
    .add-qty-content .product-input{
        max-width: 300px;
    }
    .add-qty-content .input-qty{
        max-width: 300px;
    }

}