:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
.filter-modal{
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-self: start;
    justify-content: start;
    gap: 3rem;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    display: none;

}
.category-filter{
    width: 200px;
}
.category-filter span{
    font-size: 16px;
    color: var(--color-primary);
}
.price-range{
    background: yellow;
}
.status-filter{
    background: green;
}
.btnFilter{
    background: #111;
}