span {
    color: #1E1E1E;
}

a {
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.separating-line {
    width: 790px;
    max-width: 790px;
    height: 1px;
    background: #ECECEC;
}

#wrapper {
    margin: 30px 131px 50px;
}

.product-detail-breadcrumb {
    margin: 24px 0;

}

.product-detail-breadcrumb, .breadcrumb {
    color: #555;
}

.breadcrumb:hover {
    color: var(--color-primary);
}

#product-detail-wrapper {
    display: flex;
    gap: 60px;
}

.product-detail-img {
    width: 450px;
}

#product-detail-content .product-title {
    padding-bottom: 30px;
    font-size: 2.2rem;
}

#product-detail-content .product-info {
    font-size: 1.3rem;
    padding: 30px 0;
}

#product-detail-content .product-info p {
    line-height: 1.8;
}

#product-detail-content .product-info h4 {
    line-height: 2;
}

#product-detail-content .product-price {
    padding: 16px 0;
    font-size: 2rem;
}

.product-detail-quantity-stock {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1.2rem;
    padding: 30px 0;
}

.product-detail-quantity-stock .product-input-quantity {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 40px;
    background: #F0F0F0;
}

.product-detail-quantity-stock .product-input-quantity i {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 6px;
    color: var(--color-primary);
    cursor: pointer;
}

.product-detail-quantity-stock .product-input-quantity i:hover {
   color: #1E1E1E;
}

.product-detail-quantity-stock .product-input-quantity input {
    font-size: 1.2rem;
    color: var(--color-primary);
    font-weight: 600;
    background: #F0F0F0;
    width: 50px;
    padding: 6px;
    text-align: center;
}

.product-detail-buttons {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.product-detail-buttons .product-buy-button {
    display: flex;
    padding: 16px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--color-primary);
    color: var(--color-background);
    font-size: 1.3rem;
    transition: 0.3s;
    cursor: pointer;
}

.product-detail-buttons .product-buy-button:hover {
    opacity: 0.8;
}

.product-detail-buttons .product-add-to-cart-button {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #1E1E1E;
    font-size: 1.3rem;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
}

.product-detail-buttons .product-add-to-cart-button i {
    font-size: 1.8rem;
}

.product-detail-buttons .product-add-to-cart-button:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-background);
}

.product-add-to-cart-button:hover i {
    color: var(--color-background);
}

.product-detail-title-related {
    margin: 50px 0 30px;
}

/*====================CSS RELATED PRODUCTS========================*/
.catalog--products-content {
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto auto auto auto;
}

.catalog--products-content .item {
    /*width: calc(100% / 4);*/
    max-width: 280px;
    max-height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 14px;
}

.catalog--products-content .item img {
    width: 100%;
    border-radius: 6px;
    transition: transform .5s ease;
}

.catalog--products-content .item img:hover {
    transform: scale(1.2);
}

.catalog--products-content .item a:first-child {
    overflow: hidden;
}

.catalog--products-content .item-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.item--name, .item--price {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
}

.item--name {
    max-height: 60px;
}

.item--price {
    font-weight: 400;
}

/*==============CSS COPY==================*/
.catalog--cart-button {
    display: flex;
    max-width: 190px;
    min-width: 190px;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid #111;
    cursor: pointer;
    background-color: transparent;
}

.catalog--cart-button:hover {
    background: var(--color-primary, #213555);
    border: none;
    transition: 0.4s;
}

.catalog--cart-button:hover .bx-cart-add,
.catalog--cart-button:hover span {
    color: var(--color-background);
}

.bx-cart-add {
    font-size: 1.8rem;
    color: var(--color-dark);
}

.catalog--cart-button span {
    font-size: 1rem;
}

/*================================*/
.bx-cart-add {
    font-size: 1.8rem;
    color: var(--color-dark);
}