:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
.filter-modal{
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-self: start;
    justify-content: flex-start;
    gap: 1rem;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow);

}
.filter-modal-content span{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary);
}
.category-filter{
    width: 200px;
}
/*.price-range{*/

/*}*/
/*.status-filter{*/

/*}*/
.ResetBtn{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: var(--color-primary);
}
.ResetBtn:hover{
    background: white;
    color: var(--color-danger);
    border:1px solid var(--color-danger);
}
#filter-submit{
    margin-top: 5px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 40px;

    background: var(--color-primary);
}
#filter-submit:hover{
    background: white;
    color: var(--color-success);
    border:1px solid var(--color-success);

}
.products_popup{
    height: 650px;
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.popup-add-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.input .product-name-qty{
    width: 300px;
}
.input{
    margin-top: 5px;
    width: 300px;
}
.input input{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}
.input p{
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 550;
}
button#insert-button, button#update-button,button#add-qty-button{
    margin-top: 10px;
    width: 120px;
    height: 30px;
    align-items: center;
    background: var(--color-primary);
    color:var(--color-white);
    border-radius: 10px;
}
.pagination ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.pagination ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-primary);
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

.pagination ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 100%;

}
.pagination ul li.active{
    background: var(--color-white);
    border: solid 1px var(--color-primary);

}
.pagination ul li.active a{
    color:var(--color-primary) ;
    background: transparent;
}
.imagePre{
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}
.imagePre img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.edit_product_popup{
    position: fixed;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.product-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.qty_product_popup{
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.filter-modal-content{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
@media (max-width: 1560px) {
   .add_qty_sub{
       width: 100px;
       text-align: center;
       margin-top: 15px;
   }
}