:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
.filter-modal{
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-self: start;
    justify-content: start;
    gap: 3rem;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    display: none;

}
.category-filter{
    width: 200px;
}
.category-filter span{
    font-size: 16px;
    color: var(--color-primary);
}
.price-range{
    background: yellow;
}
.status-filter{
    background: green;
}
.btnFilter{
    background: #111;
}
.products_popup{
    height: 500px;
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.pagination ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.pagination ul li{
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-primary);
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

.pagination ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 100%;

}
.pagination ul li.active{
    background: var(--color-white);
    border: solid 1px var(--color-primary);

}
.pagination ul li.active a{
    color:var(--color-primary) ;
    background: transparent;
}