/* ---------Login--------------- */
.Login{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.log-left{
    background-color: var(--color-dark-variant);
}

.frm-login, .frm-register {
    width: 500px;
}

.frm-login{
    margin: 120px auto 0;
}

.frm-register{
    margin: 0 auto 0;
}

.log-header-content{
    padding: 10px 170px;
    color: var(--color-dark-variant);
}

.lab-log-content, btn-log-button, .input-log-content, .log-getpass, .btn-log-sumbit {
    display: block;
    margin-bottom: 10px;
}

.lab-log-content{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    color: var(--color-dark-variant);
}

.input-log-content{
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    padding: 5px 25px;
    border: 1px var(--color-dark-variant) solid;
    border-radius: var(--border-radius-2);
}

.log-getpass{
    margin-left: 30px;
    color: var(--color-primary);
    transition-duration: 0.2s;
}

.log-getpass:hover{
    color: var(--color-dark);
    transition-duration: 0.2s;
}

.error-log-text{
    display: block;
    color: var(--color-danger);
    margin-left: 30px;
    margin-right:30px;
}

.btn-log-submit, .btn-log-button{
    font-weight: bold;
    width: 90%;
    color: var(--color-white);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    padding: var(--padding-1);
    border-radius: var(--border-radius-2);
    transition-duration: 0.3s;
}

.btn-log-submit{
    border: none;
    color: var(--color-white);
    background-color: var(--color-dark-variant)
}

.btn-log-button{
    border: 1px var(--color-dark-variant) solid;
    color: var(--color-dark-variant);
    background-color: var(--color-white);
}

.btn-log-submit:hover{
    color: var(--color-white);
    background-color: var(--color-dark)
}

.btn-log-button:hover{
    color: var(--color-white);
    background-color: var(--color-dark-variant);
}

.log-hr{
    margin: 5px;
    display: block;
    border: 1px var(--color-info-dark) solid;
    width: auto;
    opacity: 0.3;
}
