/* ---------Login--------------- */
.Login{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.log-left{
    background-color: var(--color-primary);
}

.frm-login, .frm-register {
    width: 500px;
}

.frm-login{
    margin: 120px auto 0;
}

.frm-register{
    margin: 0 auto 0;
}

.log-header-content{
    padding: 10px 170px;
    color: var(--color-primary);
}

.log-header-content-gp{
    padding: 10px 151px;
    color: var(--color-primary);
}

.lab-log-content, .btn-log-button, .input-log-content, .log-getpass, .btn-log-sumbit {
    display: block;
    margin-bottom: 10px;
}

.lab-log-content{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    color: var(--color-primary);
}

.input-log-content{
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    padding: 5px 25px;
    border: 1px var(--color-dark-variant) solid;
    border-radius: var(--border-radius-2);
}

.log-getpass{
    margin-left: 30px;
    color: var(--color-info-dark);
    transition-duration: 0.2s;
}

.log-getpass:hover{
    color: var(--color-dark);
    transition-duration: 0.2s;
}

.error-log-text{
    display: block;
    color: var(--color-danger);
    margin-left: 30px;
    margin-right:30px;
    cursor: default;
}

.btn-log-submit, .btn-log-button{
    font-weight: bold;
    width: 90%;
    color: var(--color-white);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    padding: var(--padding-1);
    border-radius: var(--border-radius-2);
    transition-duration: 0.3s;
    border: 1px var(--color-primary) solid;
}

.btn-log-submit{
    color: var(--color-white);
    background-color: var(--color-primary)
}

.btn-log-button{
    color: var(--color-primary);
    background-color: var(--color-white);
}

.btn-log-submit:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
}

.btn-log-button:hover{
    color: var(--color-white);
    background-color: var(--color-primary);
}

.log-hr{
    margin: 5px;
    display: block;
    border: 1px var(--color-info-dark) solid;
    width: auto;
    opacity: 0.3;
}
/* --------------Profile---------- */
.user-container{
    display: grid;
    grid-template-rows: 100px auto;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
} 

.user-up{
    display: grid;
    grid-template-columns: 100px 300px auto;
    border-radius: var(--border-radius-2);
    margin: 10px;
    background-color: var(--color-white);
}

.user-lab-title{
    padding: var(--padding-1);
    cursor: default;
    color: var(--color-dark-variant);
}

@media (max-width: 1000px) {
    .user-up{
        grid-template-columns: 100px 1px auto;
        margin: 10px;
    }

    .user-lab-title {
        display: none;
    }
}

.user-menu{
    margin-top: 5px;
    display:block;
}

.user-menu-list, .user-menu-list-exit, .user-menu-list-active{
    float: right;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    display:flex;
    border-radius: 120px;
    height: 50px;
    width: 50px;
    transition-duration: 0.2s;
    margin-right: 10px;
}

.user-menu-list-active{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.user-menu-name-active{
    display: none;
    opacity: 1;
}


.user-menu-list{
    background-color: var(--color-white);
    color: var(--color-dark-variant);
}

.user-menu-list-exit{
    background-color: var(--color-white);
    color: var(--color-danger);
}

.user-menu-list-exit:hover{
    width: 200px;
    background-color: var(--color-danger);
    color: var(--color-white);
}

.user-menu-list:hover{
    width: 200px;
    background-color: var(--color-primary);
    color: var(--color-white);
}


.user-menu-name{
    display:none;
    opacity: 0;
}

.user-menu-list:hover > .user-menu-name, .user-menu-list-exit:hover > .user-menu-name{
    display:block;
    opacity: 1;
    transition-duration: 0.3s;
}

.user-content{
    height: 95%;
    padding: var(--padding-1);
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    margin: 10px;
}


@media (max-width: 700px) {
    .user-menu-list-exit:hover{
        width: 50px;
    }

    .user-menu-list:hover{
        width:  50px;
    }

    .user-menu-list:hover > .user-menu-name, .user-menu-list-exit:hover > .user-menu-name{
        display: none;
        opacity: 0;
    }

}

.user-input-content, .user-password-content{
    margin: 20px;
    display: grid;
}

.user-input-content{
    grid-template-columns: 250px auto ;
}

.user-password-content{
    grid-template-columns: 200px auto ;
}

.user-input, .user-input-password, .user-input-none{
    width: 100%;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px 25px;
    border-radius: var(--border-radius-2);
    color: var(--color-info-dark);
    background-color: var(--color-white);
    transition-duration: 0.3s;
}

.user-input, .user-input-none{
    border: 1px var(--color-white) solid;
}

.user-input-password{
    border: 1px var(--color-info-dark) solid;
}

.user-lab{
    padding: 12px 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
}

.user-btn, .user-btn-submit{
    margin: 10px;
    float: right;
    font-weight: bold;
    width: 150px;
    color: var(--color-white);
    cursor: pointer;
    padding: var(--padding-1);
    border-radius: var(--border-radius-2);
    transition-duration: 0.3s;
}

.user-btn-submit{
    background-color: var(--color-info-dark);
    border: 1px var(--color-info-dark) solid;
}

.user-btn{
    border: 1px var(--color-danger) solid;
    background-color: var(--color-danger);
}

.user-btn:hover, .user-btn-submit:hover{
    background-color: var(--color-white);
}

.user-btn:hover{
    color: var(--color-danger);
}
.user-btn-submit:hover{
    color: var(--color-info-dark);
}


 /* Css cho table */
.user-table{
    background-color: var(--color-background);
    margin: 20px;
    height: 93%;
    border: 1px var(--color-dark-variant) solid;
}

.user-table-header{
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: 10% auto auto 40%;
    padding: 8px 10px;
    text-align: center;
    color: var(--color-white);
}

.user-main-data{
    display: grid;
    grid-template-columns: 10% auto auto 40%;
    padding: 8px 10px;
    text-align: center;
    background-color: var(--color-white);
}

.user-table-data{
    overflow-y: scroll;
    height: 495px;
}

.user-sub-data{
    max-height: 1px;
    overflow: hidden;
    transition-duration: 1s;
}

.user-order:hover .user-sub-data{
    max-height: 9999px; 
    transition-duration: 3s;
}

.user-table-sub-header{
    display: grid;
    grid-template-columns: 55% auto auto auto;
    padding: 8px 10px;
    text-align: center;
    background-color:  var(--color-dark-variant);
    color: var(--color-white);
}

.user-table-sub-content{
    display: grid;
    grid-template-columns: 55% auto auto auto;
    padding: 8px 10px;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-black)
}
